<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <center>
        <div id="templatemo_body_wrapper">
            <div id="templatemo_wrapper">
                @Html.Action("Top", "MasterPage")
                <div class="copyrights">Collect from <a href="http://sc.putaojiayuan.com/" title=""></a></div>
                <div id="templatemo_main">
                    @Html.Action("Left", "MasterPage")

                    @RenderBody()
                    <div class="cleaner"></div>

                </div> <!-- END of templatemo_main -->
                @{Html.RenderPartial("~/Views/MasterPage/Foot.cshtml");}
            </div> <!-- END of templatemo_wrapper -->
        </div> <!-- END of templatemo_body_wrapper -->

    </center>
</body>
</html>
