@{
    ViewBag.Title = "Home Page";
}

@model SqlModel.Home.IndexModel

<div id="content" class="float_r">
    <div id="slider-wrapper">
        <div id="slider" class="nivoSlider">

            @foreach (SqlModel.Advert advlist in Model.advertList)
            {
                <a href="@advlist.AdvertUrl" target="_blank">
                    <img src="Admin/Upfile/@advlist.AdvertPic" width="680px" height="300px" alt="@advlist.AdvertName" title="@advlist.AdvertName" />
                </a>
            }




        </div>

        <!--
         <div id="htmlcaption" class="nivo-html-caption">
             <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
         </div>
         -->
    </div>
    <script type="text/javascript" src="js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
    <h1>新品上市</h1>
    @foreach (SqlModel.Product pro in Model.productList)
    {
        <div class="product_box">
            <h3 style="text-align:center">@Collections.publicHandle.GetSubstring(pro.ProductName, 16, "...")</h3>
            <a href='Productdetail.aspx?id=@pro.ID'><img src="Admin/Upfile/@pro.ProductPic" alt="Shoes 1" style="width:200px; height:150px;" /></a>
            <p class="product_price"><s>市场价：￥ @pro.MarketPrice</s></p>
            <p class="product_price">本网站价：￥ @pro.WebsitePrice</p>
            <a href='Shoppingcart.aspx?Productid=<%#Eval("Id") %>&num=1' class="addtocart"></a>
            <a href='Productdetail.aspx?id=<%#Eval("Id") %>' class="detail"></a>
        </div>
    }


    <div class="cleaner"></div>

</div>



